.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* //+ Khrulev NEW classes */
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: rgba(255, 166, 82, 0.199);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  /* padding:70px 30px 70px 30px; */
  padding:0px 0px 0px 0px;
  margin:0px auto;
  background: #ff8000 ;
  color:#0f0f0f;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark{
  /* background-color: #ff8800; */
  background-image: url(https://i.pinimg.com/originals/74/81/5e/74815ea10a870931fc82f9545c06746c.jpg);
  /* background-image: url( https://w-dog.ru/wallpapers/3/10/329077288849295/liga-chempionov-lch-stadion-futbol-sport-pole.jpg); */

  background-size: 100%; 
  background-repeat: no-repeat;
}


.navbar-list a.chosen,
.navbar-list a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navbar-default .navbar-nav .navbar-dark {
  color: rgb(255, 0, 0);
}

.custom-tag {
  margin:0px;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 750px; 
  height: 90vh;
  /* background: rgba(0, 0, 0, 0.267); */
}

.carousel-item img {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  min-height: 300px;
  width: 100%;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  transition: all 2s ease-out;
}
